* {
    font-family: 'Boogaloo', cursive;
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

body {
    width: 100vw;
}

.mega-container {
    background-image: url('./resources/book_background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center 20vw;
    width: 100vw;
}

.grid-container {
    display: grid;
    grid-template-areas: '. . . app-name app-name . . .' '. . . . . . . .' '. . . add-prompt add-prompt . . .' '. . . add-btn add-btn . . .';
    justify-content: center;
    width: 100vw;
}

.logo-container {
    grid-area: app-name;
    text-align: center;
    font-size: 300%;
    margin-top: .5em;
    position: relative;
    top: -.5em;
}

.logo {
    width: 12%;
    height: auto;
    position: relative;
    top: 0;
    left: 2em;
}

.add-prompt {
    grid-area: add-prompt;
    text-align: center;
    font-size: 140%;
    color: black;
    margin-top: -.85em;
    background-color: rgba(255,255,255,0.7);
    border-radius: 1em;
}

.add-btn {
    grid-area: add-btn;
    text-align: center;
    position: relative;
    top: 2em;
    width: 60%;;
    max-width: 300px;
    font-size: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    border-radius: 10px;
    background: rgba(223, 85, 5, .7);
    transition: .5s;
}

.add-btn:hover {
    background: linear-gradient(rgba(223, 85, 5, .4), rgba(223, 85, 5, .8));
    box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, .4);
    cursor: pointer;
}

.sticky-top {
    background: rgba(95, 158, 160, 1);
    padding-top: .25em;
    padding-bottom: .25em;
    position: absolute;
    left: 0;
    width: 100vw;
}

.wish-list {
    font-size: 160%;
    text-align: center;
}

.scroll-btns {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-right: 3%;
    transition: .5s;
}

.scrollDown {
    height: auto;
    width: 25%;
    max-width: 2em;
    display: inline;
}

.book-display {
    background: linear-gradient( teal, grey, #f3a484, teal);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: relative;
    top: 5em;
    height: 70vh;
    max-height: auto;
    width: 100vw;
}

.grid-books {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    justify-content: center;
    padding-top: 8em;
    padding-bottom: 3em;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background: rgba(0, 0, 0, .7);
}

.grid-books>div {
    border-radius: 10px;
    text-align: center;
    width: 140px;
    background: url('./resources/book_item_background.jpg');
    background-size: cover;
    font-size: 120%;
    margin-bottom: .5em;

}

.grid-books>div:hover {
    box-shadow: inset 2px 2px 2px 1px rgba(14, 33, 40, 0.6);
}

.book-img {
    clear: both;
}

.book-img>img {
    height: 100px;
    width: 70px;
    border: 4px solid coral;
}

.edit-btn {
    float: left;
    margin-left: 4%;
    margin-top: 2%;
    background: url('./resources/edit_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 25px;
    padding: .5em;
    transition: .5s;
    z-index: 5;
    border: 4px solid rgba(0,0,0,0);
}

.edit-btn:hover,
.del-btn:hover {
    border: 4px solid teal;
    border-radius: .1em;
    cursor: pointer;
}

.del-btn {
    float: right;
    margin-right: 4%;
    margin-top: 2%;
    background: url('./resources/delete_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 25px;
    padding: .5em;
    transition: .5s;
    z-index: 5;
    border: 4px solid rgba(0,0,0,0);
}

.data-input-modal,
.data-modify-modal {
    transition: .3s;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 700px;
    border: 14px solid rgba(223, 85, 5, .3);
    border-radius: 10px;
}

.book-to-edit {
    padding: .5em;
    font-size: 140%;
}

.fName-edit, .title-edit {
    width: 80%;
}

.close-btn,
.close-mod-btn {
    background: url('./resources/delete_icon.png');
    background-size: contain;
    height: 35px;
    width: 35px;
    margin-left: .5em;
    transition: .5s;
}

.close-btn:hover,
.close-mod-btn:hover {
    border: 4px solid teal;
    border-radius: .5em;
    cursor: pointer;
}

.delete-confirm-modal {
    background: url('./resources/book_item_background.jpg');
    transition: .3s;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 700px;
    border: 14px solid rgba(223, 85, 5, .3);
    border-radius: 10px;
    padding: 2em;
    text-align: center;
}

.delete-confirm-modal>h1,
.delete-confirm-modal>p {
    font-size: 130%;
    padding: .5em;
}

.del-deny-btn,
.del-confirm-btn {
    border-radius: 10px;
    margin: .5em;
    background: rgba(223, 85, 5, .6);
    padding: .5em;
    font-size: 120%;
    transition: .5s;
}

.del-deny-btn:hover,
.del-confirm-btn:hover {
    box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, .4);
    background: linear-gradient(rgba(223, 85, 5, .4), rgba(223, 85, 5, .8));
    cursor: pointer;
}

.del-btn-group {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

.grid-form {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
}

form {
    background: url('./resources/book_item_background.jpg');
    border: 3px solid black;
    border-radius: 5px;
    padding-bottom: 20em;
}

form h1 {
    font-size: 140%;
    clear: both;
}

legend {
    text-align: left;
    padding-left: 1em;
    font-size: 110%
}

fieldset {
    text-align: left;
    border: 2px solid black;
    padding: .5em;
}

input {
    border: 2px solid black;
}

.add-book-btn,
.modify-book-btn {
    border-radius: 10px;
    font-size: 140%;
    padding: .4em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(223, 85, 5, .6);
    transition: .5s;
}

.add-book-btn:hover,
.modify-book-btn:hover {
    background: linear-gradient(rgba(223, 85, 5, .4), rgba(223, 85, 5, .8));
    box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, .4);
    cursor: pointer;
}

.cover-select-modal {
    background: url('./resources/book_item_background.jpg');
    background-repeat: none;
    background-size: cover;
    transition: .3s;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 960px;
    border: 14px solid rgba(223, 85, 5, .3);
    border-radius: 10px;
    text-align: center;
    min-height: auto;
}

.cover-select-form {
    background: url('./resources/book_item_background.jpg');
    position: relative;
    border: 3px solid black;
    min-height: auto;
    border-radius: 5px;
    padding-bottom: 8em;
}

.cover-select-content {
    margin: 2em;
    clear: both;
    padding-top: 1em;
    text-align: center;
    min-height: auto;
}

.cover-select-modal .cancel-select {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    padding: .5em;
    background-color: red;
    color: white;
    font-size: 120%;
    border-bottom-right-radius: 1em;
    transition: .5s;
    border: 2px solid rgba(0,0,0,0);
    
}

.cover-select-modal .cancel-select:hover {
    background-color: transparent;
    color: red;
    border: 2px solid red;
}

.no-cover {
    text-align: center;
}

.no-cover img {
    margin-top: 1em;
    margin-bottom: 1em;
}

.add-error {
    clear: both;
    font-size: 130%;
    color: red;
    transition: .5;
    margin-top: .5em;
}

.highlight {
    background-color: yellow;
    padding: .5em;
}

.cover-continue-btn {
    position: absolute;
    bottom: .5em;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    padding: .5em;
    margin-bottom: 1em;
    margin-top: .5em;
    transition: .5s;
    width: 50%;
    max-width: 300px;
    border-radius: 10px;
    font-size: 140%;
    padding: .4em;
    background: rgba(223, 85, 5, .6);
    clear: both;
}

.cover-continue-btn:hover {
    background: linear-gradient(rgba(223, 85, 5, .4), rgba(223, 85, 5, .8));
    box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, .4);
    cursor: pointer;
}
.no-cover .no-cover-title {
    clear: both;
    text-align: center;
}

.cover-select-modal p, .no-cover p {
    font-size: 130%;
}

.cover-select-modal img, .no-cover img {
    height: 200px;
    width: 120px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid rgba(0,0,0,0);
}

.book-cover {
    height: 310px;
    width: 180px;
    float: left;
    margin-right: 2em;
    margin-top: 1em;
    overflow: hidden;
    transition: .5s;
    border: 4px solid rgba(0,0,0,0);
}

.book-cover {
    cursor: pointer;
}

.border {
    border: 4px solid rgba(223, 85, 5, .6);
    border-radius: .5em;

}


@media (min-width: 560px) {
    .grid-books {
        grid-template-columns: auto auto auto;
    }
    .mega-container {
        background-position: center top;
    }
    .add-btn {
        margin-top: 35%;
    }
}

@media (min-width: 700px) {
    .scroll-btn {
        height: 2em;
        width: 4em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .book-display {
        margin-top: 16%;
    }
    .grid-books {
        grid-template-columns: auto auto auto auto;
        margin-top: 2%;
    }
    .mega-container {
        background-position: center 1em;
    }
    .add-btn {
        width: 55%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15%;
    }
}

@media (min-width: 890px) {
    .book-display {
        margin-top: 20%;
    }
    .grid-books>div {
        width: 180px;
    }
    .book-img>img {
        height: 140px;
        width: 90px;
    }
    .mega-container {
        background-position: center top;
    }
    .wish-list {
        font-size: 180%;
    }
}

@media (min-width: 1000px) {
    .book-display {
        margin-top: 18%;
    }
    .grid-books {
        grid-template-columns: auto auto auto auto auto;
        margin-top: 1%;
    }
    .mega-container {
        background-position: center -2em;
    }
    .grid-books>div {
        width: 180px;
    }
    .book-img>img {
        height: 140px;
        width: 90px;
    }
    .wish-list {
        font-size: 180%;
    }
}

@media (min-width: 1220px) {
    .book-display {
        margin-top: 17%;
    }
    .mega-container {
        background-position: center -6em;
    }
    .grid-books>div {
        width: 200px;
    }
    .book-img>img {
        height: 160px;
        width: 110px;
    }
}

@media (min-width: 1400px) {
    .book-display {
        margin-top: 16%;
    }
    .grid-books>div {
        width: 220px;
    }
    .book-img>img {
        height: 180px;
        width: 120px;
    }
    .mega-container {
        background-position: center -9em;
    }
}  